.ruleta img{
    height: 750px;
}


.contact-container {
    background-color: #FFC0CB; /* Color rosa */
    padding: 40px; /* Añadir espaciado interior */
    border-radius: 10px; /* Añadir bordes redondeados */
  }
  /* Estilo para el footer */
  footer {
    background-color: #343a40; /* Color de fondo del footer */
    color: #fff; /* Color de texto del footer */
    padding: 20px 0; /* Espaciado interno */
    text-align: center; /* Alinear texto al centro */
  }